h1{
    text-align: center;
    text-decoration:teal double underline;
    color: #ffa511;
    font-family: league spartan;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    font-size: 55px;
    text-transform: capitalize ;
}